<div class="container" style="margin-top:60px;">

  <div class="page-header">

	<h1>お客様番号を入力してください</h1>

	<%= form_tag "/items/tour/#{params[:tour]}", method: 'GET', style:"margin-bottom:30px;" do %>
	  <div class="form-group">
	    <div class="col-sm-8">
	      <%= text_field_tag :user_id, '', class: "form-control" %>
	    </div>
	    <div class="col-sm-4">
	      <%= submit_tag "次へ", class: "btn btn-primary" %>
	    </div>
	  </div>
	<% end %>

  </div>

</div>

