<div class="container" style="margin-top:60px;">

　　<div class="page-header">
  　　<h1>商品変更</h1>

	<%= link_to items_path, :class => 'btn btn-default' do %>
	  <i class="fa fa-arrow-left"></i>  商品一覧へ戻る
	<% end %>
	<%= link_to @item, :class => 'btn btn-default' do %>
	　　<i class="fa fa-arrow-left"></i>  詳細へ戻る
	<% end %>

　　</div>

　　<%= render 'form' %>

</div>
