<div class="container" style="margin-top:60px;">
　 <div class="page-header">
    <span class="page_title"><span class="glyphicon glyphicon-tag"></span> 商品情報変更</span>
  </div>

　　<%= render 'form' %>

</div>
